.characteristics .subtitle{
    text-align: initial;
}

.characteristics p {
    text-align: initial;
}

.characteristics .subsubtitle1{
    margin: 1.5rem 0;
}

.characteristics .bullet img{
    margin: 0 0.8rem 0 0;
}

.characteristics .bullet p{
    margin: 1rem 0;
}